@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,400&family=Press+Start+2P&display=swap');
//font-family: 'Montserrat', sans-serif;
//font-family: 'Press Start 2P', cursive;
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    //background: url("/uploads/others/bg.jpg") 50% 50% / cover;
    background-attachment: fixed;
    font-family: 'Montserrat', sans-serif;
    background: $primal-bg;
}

.container-box {
    padding: 0 30px;
    transition: .3s;
    @media (max-width: 768px) {
        padding: 0 15px;
    }
}


