@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,400&family=Rubik+Dirt&display=swap');
//font-family: 'Montserrat', sans-serif;
//font-family: 'Alfa Slab One', cursive;
//font-family: 'Rubik Dirt', cursive;

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    margin: 0;
    line-height: inherit;
    -webkit-font-smoothing: antialiased;
    &::-webkit-scrollbar {
        width: 0.5em;
    }

    &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.3);
    }

    &::-webkit-scrollbar-thumb {
        background-color: $color-green;
        outline: 1px solid $color-green;
    }
}

#app {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex-grow: 1;
    background-attachment: fixed;
    background: url("/images/cover.jpg") 50% 50% / cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
@supports (background-image: -webkit-image-set(url('/images/cover.webp') 1x)) {
    main {background-image: -webkit-image-set(url('/images/cover.webp') 1x) }
}
.layout {
    margin: auto;
    transition: .3s;
    &.xx-full {
        @media (max-width: 1024px) {
            max-width: 100%;
        }
    }
    &-box {
        padding: 0 9%;
        transition: .3s;
        @media (max-width: 1200px) {
            padding: 0 7%;
        }
        @media (max-width: 768px) {
            padding: 0 15px;
        }
    }
}

ul {
    list-style-type: circle;
    margin-left: 20px;
}
.page-layout {
    padding-top: 120px;
    transition: 0.3s;
    @media (min-width: 981px) {
        margin-top: 120px;
        padding-top: 0;
    }
    @media (min-width: 1440px) {
        margin-top: 8%;
    }
}
.xt-title-1 {
    font-family: "Rubik Dirt", cursive;
    line-height: normal;
    text-align: center;
    font-size: 50px;
    color: white;
    transition: 0.3s;
    &.dark {
        color: $bg-black;
    }
    @media (min-width: 1440px) {
        font-size: 3.5vw;
    }
    @media (max-width: 980px) {
        font-size: 40px;
    }
    @media (max-width: 768px) {
        font-size: 36px;
    }
}
.xt-box {
    padding: 40px 0;
    border-radius: 10px;
    transition: 0.3s;
    .xt-title-1 {
        padding-bottom: 30px;
        font-family: 'Montserrat', sans-serif;
        font-size: 44px;
        font-weight: 700;
        @media (max-width: 768px) {
            font-size: 34px;
        }
    }
}
