.x-form {
    margin: auto;
    &-title {
        font-size: 2vw;
        font-weight: 700;
        text-align: center;
        margin-bottom: 32px;
        @media (max-width: 1200px) {
            font-size: 26px;
        }
    }
    &-control {
        max-width: 75%;
        padding: 0 20px;
        margin: auto auto 12px;
        transition: .3s;
        label {
            display: block;
            padding-bottom: 5px;
            font-size: 1.1vw;
            @media (max-width: 1200px) {
                font-size: 14px;
            }
        }
        &.error {
            input {
                border: 1px solid $color-red;
            }
        }
        &.full {
            width: 100%;
        }
        &.line {
            display: flex;
            margin: 0 0 12px;
            label {
                margin-right: 10px;
            }
        }
        &_upload {
            margin: 10px 0 20px;
            img {
                max-width: 200px;
                margin-bottom: 10px;
                border-radius: 10px;
            }
        }
        &.m-auto {
            margin: auto;
        }
    }
    &-submit {
        margin: 26px auto 0;
    }
    .alert {
        margin-bottom: 30px;
    }
    &-auth {
        label {
            margin-bottom: 6px;
        }
        input {
            &:-webkit-autofill,
            &:-webkit-autofill:hover,
            &:-webkit-autofill:focus,
            &:-webkit-autofill:active{
                -webkit-box-shadow: 0 0 0 30px #cfffc5  inset !important;
            }
        }

    }
    &-double {
        display: flex;
        justify-content: center;
    }
    @media (max-width: 1360px) {
        &-auth {
            input {
                font-size: 16px;
            }
        }
    }
    @media (max-width: 768px) {
        &-title {
            font-size: 24px;
        }
        &-control {
            max-width: 100%;
        }
        &-double {
            display: block;
        }
    }
}
.x-input {
    width: 100%;
    font-size: 1vw;
    padding: 2% 10px;
    border-radius: 10px;
    transition: .3s;
    @media (max-width: 1200px) {
        font-size: 16px;
        padding-top: 6px;
        padding-bottom: 6px;
        min-height: 40px;
    }
    &-green {
        padding-left: 20px;
        padding-right: 20px;
        border-radius: 20px;
        border: 2px solid $color-green;
    }
    &-border {
        border: 2px solid $color-dark;
    }
}
