.xt-lk {
    &-title {
        font-size: 26px;
        font-weight: 700;
        margin-bottom: 20px;
    }
    &-create {
        font-size: 18px;
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        transition: .3s;
        svg {
            margin-right: 7px;
        }
        &:hover {
            color: $color-green;
        }
    }
}
