.xt-order {
    &-block {
        padding: 16px 40px;
    }
    &-table {
        @media (max-width: 1160px) {
            padding-left: 10px;
            padding-right: 10px;
        }
        .xt-loader {
            width: 50px;
            height: 50px;
        }
        tr {
            th.center,
            td.center {
                text-align: center;
            }
        }
        &-flex {
            $table-header: #1976D2;
            $table-header-border: #1565C0;
            $table-border: #d9d9d9;
            $row-bg: #f4f2f1;

            div {
                box-sizing: border-box;
            }

            .table-container {
                display: block;
                margin: 2em auto;
                width: 90%;
                max-width: 600px;
            }

            .flag-icon {
                margin-right: 0.1em;
            }

            .flex-table {
                display: flex;
                flex-flow: row wrap;
                border-left: solid 1px $table-border;
                transition: 0.5s;
                &:first-of-type {
                    border-top-left-radius: 10px;
                    border-top-right-radius: 10px;
                    --tw-bg-opacity: 1;
                    background-color: hsl(var(--b2, var(--b1)) / var(--tw-bg-opacity));
                }
                &.row:nth-child(odd) .flex-row {
                    background: $row-bg;
                }
                &:hover {
                    background: #F5F5F5;
                    transition: 500ms;
                }
                @media (max-width: 1160px) {
                    font-size: 14px;
                }
                @media (max-width: 950px) {
                    font-size: 12px;
                }
                @media (max-width: 430px) {
                    font-size: 16px;
                }
            }

            .flex-row {
                width: calc(100% / 5);
                text-align: center;
                padding: 0.5em 0.5em;
                border-right: solid 1px $table-border;
                border-bottom: solid 1px $table-border;
            }

            .rowspan {
                display: flex;
                flex-flow: row wrap;
                align-items: flex-start;
                justify-content: center;
            }

            .column {
                display: flex;
                flex-flow: column wrap;
                width: 75%;
                padding: 0;
                .flex-row {
                    display: flex;
                    flex-flow: row wrap;
                    width: 100%;
                    padding: 0;
                    border: 0;
                    border-bottom: solid 1px $table-border;
                    &:hover {
                        background: #F5F5F5;
                        transition: 500ms;
                    }
                }
            }

            .flex-cell {
                width: calc(100% / 3); //1px = border right
                text-align: center;
                padding: 0.5em 0.5em;
                border-right: solid 1px $table-border;
                //flex: 1 1 33.3%;
                &:last-child {
                    // border-right: 0;
                }
            }

            @media all and (max-width: 767px) {
                .flex-row {
                    width: calc(100% / 3); //1px = border right

                    &.first {
                        width: 100%;
                    }
                }

                .column {
                    width: 100%;
                }
            }

            @media all and (max-width: 430px) {

                .flex-table {
                    .flex-row {
                        border-bottom: 0;
                    }
                    .flex-row:last-of-type {
                        border-bottom: solid 1px $table-border;
                    }
                }

                .header {
                    .flex-row {
                        border-bottom: solid 1px;
                    }
                }

                .flex-row {
                    width: 100%; //1px = border right

                    &.first {
                        width: 100%;
                        border-bottom: solid 1px $table-border;
                    }
                }

                .column {
                    width: 100%;
                    .flex-row {
                        border-bottom: solid 1px $table-border;
                    }
                }

                .flex-cell {
                    width: 100%; //1px = border right
                }
            }
        }
    }
    &-status {
        span {
            color: #ffffff;
            background-color: $color-red;
            padding: 1px 10px 2px;
            border-radius: 14px;
            &.active {
                background-color: $color-green;
            }
        }
    }
    .code-green {
        color: $color-green;
    }
    &-reload {
        display: flex;
        align-items: center;
        margin-left: auto;
        justify-content: flex-end;
        svg {
            color: $color-green;
            font-size: 30px;
            margin-left: 10px;
            cursor: pointer;
            transition: .3s;
            &:hover {
                color: $bg-black;
            }
        }
    }
    .alert {
        max-width: fit-content;
        margin: auto;
        background-color: $color-green;
        color: white;
    }
    @media (max-width: 980px) {
        .xt-title-1 {
            font-size: 36px;
            padding-bottom: 0;
        }
    }
    @media (max-width: 768px) {
        padding-top: 20px;
        .xt-title-1 {
            font-size: 26px;
        }
    }

}
